{
  "host": "localhost",
  "user": "root",
  "password": "",
  "database": "xgallery",
  "prefix": "esemx_",
  "flickr_dir": "/media/soulevil/SoulEvil/xgallery",
  "flickr_client_id": "",
  "flickr_client_secret": "",
  "flickr_access_token": "",
  "flickr_access_token_secret": ""
}