<form class="" action="/onejav/search" method="POST">
    <div class="form-group">
        <input type="text" name="keyword" class="form-control" id="inputKeyword"
               aria-describedby="keywordHelp"
               placeholder="Enter your keyword">
        <input type="hidden" name="token" value="{{ csrf_token('onejav-search') }}"/>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
</form>
