{% extends "base/base.html.twig" %}
{% block title %}XGallery - Onejav - {{ item.title }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-4">
            {{ include('/onejav/card.html.twig') }}
        </div>
        <div class="col-8">
            {% if item.r18.gallery is defined %}
                <ul class="list-unstyled">
                    {% for image in item.r18.gallery %}
                        <li style="display: inline-block; height: 90px; border: 4px solid #fff; box-shadow: 0 1px 4px #ddd; margin: 4px 10px 0 0; width: 120px; overflow: hidden">
                            <a href="#ex1" rel="modal:open">
                                {% if app.environment == 'dev' %}
                                    <img src="https://via.placeholder.com/450" class=""/>
                                {% else %}
                                    <img src="{{ image }}" class=""/>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <hr/>
            {% endif %}
            {% if item.r18.sample is defined %}
                <video width="100%" controls>
                    <source src="{{ item.r18.sample }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        </div>
    </div>
{% endblock %}
