{% extends "base.html.twig" %}
{% block title %}XGallery - Onejav - There are no result of keyword {{ keyword }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            There are no result
        </div>
    </div>
{% endblock %}

