{% extends "base/base.html.twig" %}
{% block title %}
    XGallery - Onejav
{% endblock %}
{% block body %}
    {% set userguide_content = 'Search OneJAV to get torrent download file and show up with R18 content data. Suggest to use keyword with <strong>movie ID</strong> or <strong>DVD ID</strong>' %}
    {{ include('base/guide.html.twig') }}
    <div class="row">
        <div class="col-8">
            <div class="row">
                {% for item in featured %}
                    <div class="col-4 mb-5">
                        {{ include('/onejav/card.html.twig') }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            {{ include('/onejav/form/search.html.twig') }}
        </div>
    </div>
{% endblock %}

